
<h1 id="notification_text"> Thanks for signing up. <br /> 

	Now sit back, relax, and get back to work. We'll text you if you need to check your email. Questions suggestions or concerns? We'd love to talk with you just text us at 541-760-5021
</h1>
