
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #F5F5F5;
}

#header_text {
	font-size: 18px;
	font-family: "Helvetica Neue Light", Times, serif;
}

#notification_text {
    text-align: center;
    line-height: 1.8;
    padding: 100px 0px 30px 0px
}

#footer_text {
	text-align: center;
	padding: 15px 0px 15px 0px;
	background-color: #616161;
	color: #D1D1D1;
}