<!DOCTYPE html>
<html>
<head>
  <title>PushCradleApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
  <meta name="google-site-verification" content="DuJ5HIHAtrZ61SmwevJgIT1VsT1W2_GD2AVtgvD_kRk" />
</head>
<body>

<%= yield %>

</body>
</html>
